@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

html {
    width:100%;
}
body{
    font-family: 'Raleway';
    width: 100%;
}

a {
   text-decoration: none; 
}

header {
    position:absolute;
    z-index: 1;
    width: 100%;
    padding: 1em;
}

header .logo {
    margin:.5em  auto;
    display: block;
}
header nav {
    margin:0px auto;
    display: block;
    text-align: center;
}

header nav li{
    display: inline-block;
    margin-right: .7em;
    padding: .3em;
    font-weight: 700; 
}

header nav li a {
    color:#fff;
}

.home-hero {
    background-image: url("../_img/hero-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%; */
    position: relative;
    padding: 5em;
    padding-top: 9em;
    color: #fff;
}

.home-hero .container {
    display: block;
    position: relative;
    text-align: center;
}

/* .home-hero .title { */
h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.2rem;
    text-align: center;
}
.home-hero .title span {
    display: block;
    font-size: .75em;
    font-weight: 400;
}


.button {
    border: 1px solid #8f8;
    text-transform: uppercase;
    padding: 1em 3em;
    color:#8f8;
    font-weight: bold;
    margin-top: 2em;
    display: inline-block;
}


.port-desc {
    display: none;
}


.home-about .home-about-textbox {
    background: #333;
    color: #fff;
    padding: 3em;
    padding-top: 0;
    outline: 1px solid #8f8;
    outline-offset: -30px;
    line-height: 1.5rem;
    display: inline-block;
}

.home-about-textbox h1 {
    color: #8f8;
    background: #333;
    /* top: -3rem; */
    position: relative;
    display: inline-block;
    padding: .4em;
    left: 50%;
    transform: translateX(-50%);
    line-height: 2.2rem;
}

.tt {
    position: relative;
}

.portfolio {
    padding-top: 2em;

}


.portfolio h1 {
    font-weight: 400;
    position: relative;
    padding: .25rem;
}

.portfolio h1:before {
    content: "";
    position: absolute;
    width: 20%;
    left: 50%;
    right: 0;
    top: 0px;
    height: 1px;
    background: #8f8;
    transform: translateX(-50%);
}




@media screen and (min-width: 700px) {

    .home-hero {
        padding-top: 7em;
    }
    /* .home-hero .title  */
    h1{
        font-size: 2.5rem;
        line-height:3rem ;
    }
    header .logo {
        margin: 0;
        float: left;
    }

    header nav {
        float: right;
    }

    .home-about {
        background: url("../_img/who-we-are.jpg");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: contain;
        position: relative;
        height: 35vh;
    }

    .home-about .home-about-textbox {
        width: 42%;
        top: -18%;
        left: 8%;
        position: relative;
        max-width: 620px;
  
    }
}